.login__nav{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.login__logo1{
    font-size: 3rem;
    font-weight: 600;
}

.login__logo{
    padding: 2px;
    line-height: 2.5rem
}

.login__button{
    margin: auto 0px;
    padding: 2px;
}

.login__Join{
    width: 140px;
    height: 50px;
    border: 0.5px solid #418DAF ;
    border-radius: 10px;
    color: black;
    background-color: #F2FDFF;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.5s;
    cursor: pointer;
}

.login__Join:hover{
    background-color: #418DAF;
    color: white;
    border: none;
    transform: scale(1.10);
}


.login__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
}

.login__field{
    margin: 2px;
    padding: 10px;
    width: 40%;
}
.heading{
    margin: 5px;
    margin-bottom: 20px;
    font-size: 45px;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    line-height: 2.4rem;
}

.login__fieldContainer{
    margin: 5px 8px;
    padding: 10px;
}

.login__inputField{
    width: 95%;
    margin: 2px;
    padding: 3px;
    margin-bottom: 10px;
}
.login__input{
    height: 42px;
    outline: none;
    border: none;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.login__dot{
    color: #418DAF ;
    font-size: 70px;
}
.SignIn{
    width: 100%;
    background-color: #418DAF;
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
}

.login__SignInButton{
    margin: 40px 2px 20px 2px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s;
}
.login__SignInButton:hover{
    transform: scale(1.05);
}
