.admin__nav{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__link{
    display: flex;
   flex: 0.7;
   align-items: center;
   justify-content: center;

}
.link{
    text-decoration: none;
}
.admin__ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.admin__li{
    margin: 5px 10px;
    padding: 2px 5px;
    cursor: pointer;
}
.admin__li:hover{
    transform: scale(1.05);
    border-bottom: 2px solid #418DAF;
}
.text_underline{
    border-bottom: 2px solid #418DAF;
}

.admin__Wp{
    margin-left: 22px;
    padding: 0px 5px;
  
}
.admin__logoWp{
    font-size: 2.2rem;
    font-weight: 600;
}

.admin__profile{
    margin-top: 13px;
    margin-right: 22px;
    padding: 0px 5px;
}

.admin__org{
    font-size: 1.25rem;
    font-weight: 700;
}