.admin__about{
    margin: 12px 5rem;
    margin-top: 4rem;
}
.admin__h5{
    margin: 2px;
    margin-top: 20px;
    padding: 5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.admin__para{
    padding: 5px;
    margin: 2px;
}

.project_button{
    background-color: #418DAF;
    border-radius: 5px;
    border: none;
    padding: 8px;
    color: white;
    margin: 10px;

    
}
.project_complete{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    padding: 17px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.project_complete::-webkit-scrollbar{
    display: none;
}

.project__card{
border: 1px solid #418DAF;
border-radius: 10px;
min-width: 300px;
object-fit: contain;
height: 200px;
margin-right: 20px;
transition: transform 450ms;
 
}
.card_title{
    font-size: 18px;
    margin: 10px;
}
.card__text{
font-size: 14px;
margin: 10px;
padding: 2px;
}

.project__card:hover{
    transform: scale(1.08);
    color: #24607e;
    
}