.adminEmployee_searchbox{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.adminEmployee_search{
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.employee_list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.employee_list::-webkit-scrollbar{
    display: none;
}

.admin_employee_container{
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    object-fit: contain;
    height: 70px;
    background-color: #418DAF;

}